.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownToggle {
    width: 310px;
    background-color: transparent;
    border: lightgrey 1px solid;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}

.dropdownToggle::after {
    content: '';
    border: solid #333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: lightgrey 1px solid;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    width: 308px;
}

.dropdownMenu li {
    padding: 8px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdownMenu li:hover {
    background-color: #ff9700;
    cursor: pointer;
}

.dropdown:hover .dropdownMenu {
    display: block;
}

.button {
    width: 310px;
    margin-top: 28px;
    height: 36px;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    background-color: #ff9601;
    color: #8f5400;
}

.active {
    box-shadow: 0 4px 4px 0 rgba(255, 150, 1, .2);
    color: #fff;
    transition: box-shadow 0.3s ease; /* Продолжительность анимации 0.3 секунды с плавной функцией ускорения (ease) */

}
.active:hover {
    box-shadow: 0 4px 4px 0 rgba(255, 150, 1, .4);
    cursor: pointer;
}
